<div class="row">
    <div class="col-6">
        <form [formGroup]="alumnos" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="matricula" class="form-label">
                    matricula
                </label>
                <input id="matricula" name="matricula" formControlName="matricula" type="text" placeholder="Matricula" class="form-control" required>
                <div *ngIf="alumnos.get('matricula')?.touched && alumnos.get('matricula')?.errors?.['required']"
                class="alert alert-danger">Este campo es requerido.</div>

                

            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input id="nombre" name="nombre" formControlName="nombre" type="text" placeholder="nombre" class="form-control">
                <div *ngIf="alumnos.get('nombre')?.touched && alumnos.get('nombre')?.errors?.['required']"
                class="alert alert-danger">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="apaterno" class="form-label">Apaterno</label>
                <input input id="apaterno" name="apaterno" formControlName="apaterno" type="text" placeholder="Apaterno" class="form-control">
                <div *ngIf="alumnos.get('apaterno')?.touched && alumnos.get('apaterno')?.errors?.['required']"
                class="alert alert-danger">Este campo es requerido.</div>
            </div>
            
            <div class="mb-3">
                <label for="amaterno" class="form-label">Amaterno</label>
                <input id="amaterno" name="amaterno" formControlName="amaterno" type="text" placeholder="Amaterno" class="form-control">
                <div *ngIf="alumnos.get('amaterno')?.touched && alumnos.get('amaterno')?.errors?.['required']"
                class="alert alert-danger">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input id="correo" name="correo" formControlName="correo" type="text" placeholder="correo" class="form-control">
                <div *ngIf="alumnos.get('correo')?.touched && alumnos.get('correo')?.errors?.['required']"
                class="alert alert-danger">Este campo es requerido.</div>
            </div>

            

            <button class="btn btn-primary" type="submit">Agregar</button>

            
           

        </form>

    </div>

    <div class="col-6"></div>

</div>
